In [2]:
import pandas as pd
import numpy as np

In [5]:
#read sim and variance values for TrainSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/" #note you will need to change the input directory
#"C:\Users\Logan Rose\Downloads\RNA-project-main\RNA-project-main\similarity_and_variance_TestSetA_no_shape.csv"
inputfile='similarity_and_variance_TrainSetA_no_shape.csv'
df=pd.read_csv(inputdirectory+inputfile,names=['Id','Similarity','Variance','Acc MFE','Acc SHAPE'])
df.head()

   Id  Similarity    Variance  Acc MFE  Acc SHAPE
0   0   63.530786  510.139674     25.7       88.4
1   1   89.472191   81.662673     13.4       84.0
2   2   83.509512   14.298034     12.6       90.2
3   3   93.700939   42.010788     79.6       92.4
4   4   76.075650   42.247469     64.6       93.8

In [3]:
df.shape

(3094, 5)

In [6]:
#read values for Sim with SHAPE and Var with SHAPE for TrainSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/"
inputfile='similarity_and_variance_TrainSetA_with_shape33.csv'
df1=pd.read_csv(inputdirectory+inputfile,names=['Id','Similarity SHAPE33','Variance SHAPE33','Acc MFE','Acc SHAPE'])
df1.tail()

        Id  Similarity SHAPE33  Variance SHAPE33  Acc MFE  Acc SHAPE
3089  3161           81.656699         19.230885     38.8       94.8
3090  3162           77.428980         23.793259     38.0       95.5
3091  3163           91.642222          8.201062     47.8      100.0
3092  3164           77.586603         19.541901     38.3       95.4
3093  3165           93.037067          8.651074     13.0       98.7

In [7]:
df1.shape

(3094, 5)

In [9]:
#read sim and variance values for TestSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/"
inputfile='similarity_and_variance_TestSetA_no_shape.csv'
df3=pd.read_csv(inputdirectory+inputfile,names=['Id','Similarity','Variance','Acc MFE','Acc SHAPE'])
df3.head()

   Id  Similarity     Variance  Acc MFE  Acc SHAPE
0   0   96.423690    58.736204     47.1      100.0
1   1   55.204598  1400.598193     54.7      100.0
2   2   81.206294   228.163154     73.2       97.6
3   3   94.482379   119.418192     90.7       97.6
4   4   38.345264   539.449350     55.1       97.4

In [7]:
df3.shape

(426, 5)

In [10]:
#read values for Sim with SHAPE and Var with SHAPE for TestSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/"
inputfile='similarity_and_variance_TestSetA_with_shape33.csv'
df4=pd.read_csv(inputdirectory+inputfile,names=['Id','Similarity SHAPE33','Variance SHAPE33','Acc MFE','Acc SHAPE'])
df4.head()

   Id  Similarity SHAPE33  Variance SHAPE33  Acc MFE  Acc SHAPE
0   0           83.909287         62.903218     47.1      100.0
1   1           98.291925         14.163227     54.7      100.0
2   2           91.866090        181.236396     73.2       97.6
3   3           98.162743         42.056933     90.7       97.6
4   4           96.204819         27.614676     55.1       97.4

In [11]:
df4.shape

(426, 5)

In [12]:
#read 0-Norms for TestSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom0/"
inputfile='Norms_TestA.csv'
plTestSetA0=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTestSetA0.head()

             File  Id       Identifier      norms
0  0_no_shape.csv   0  Test_A_No_Shape  64.998215
1  1_no_shape.csv   1  Test_A_No_Shape  65.194148
2  2_no_shape.csv   2  Test_A_No_Shape  64.758183
3  3_no_shape.csv   3  Test_A_No_Shape  64.873570
4  4_no_shape.csv   4  Test_A_No_Shape  64.819485

In [13]:
#read 1-norms for TestSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom1/"
inputfile='Norms_TestA.csv'
plTestSetA1=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTestSetA1.head()

             File  Id       Identifier     norms
0  0_no_shape.csv   0  Test_A_No_Shape  0.000000
1  1_no_shape.csv   1  Test_A_No_Shape  0.000000
2  2_no_shape.csv   2  Test_A_No_Shape  0.000000
3  3_no_shape.csv   3  Test_A_No_Shape  0.000161
4  4_no_shape.csv   4  Test_A_No_Shape  0.000000

In [12]:
plTestSetA1.shape

(426, 4)

In [14]:
#read 0-norms (with SHAPE) for TestSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom0/"
inputfile='Norms_TestAS.csv'
plTestSetAShape0=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTestSetAShape0.head()

               File  Id         Identifier      norms
0  0_with_shape.csv   0  Test_A_With_Shape  64.975018
1  1_with_shape.csv   1  Test_A_With_Shape  64.982104
2  2_with_shape.csv   2  Test_A_With_Shape  64.896292
3  3_with_shape.csv   3  Test_A_With_Shape  65.111365
4  4_with_shape.csv   4  Test_A_With_Shape  64.738559

In [15]:
#Read 1-norms (with SHAPE) for TestSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom1/"
inputfile='Norms_TestAS.csv'
plTestSetAShape1=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTestSetAShape1.head()

               File  Id         Identifier     norms
0  0_with_shape.csv   0  Test_A_With_Shape  0.000000
1  1_with_shape.csv   1  Test_A_With_Shape  0.000000
2  2_with_shape.csv   2  Test_A_With_Shape  0.000000
3  3_with_shape.csv   3  Test_A_With_Shape  0.002203
4  4_with_shape.csv   4  Test_A_With_Shape  0.000000

In [119]:
plTestSetAShape0.shape

(426, 4)

In [16]:
#read 0-Norms for TrainSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom0/"
inputfile='Norms_TrainA.csv'
plTrainSetA0=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTrainSetA0.head()

             File  Id        Identifier      norms
0  0_no_shape.csv   0  Train_A_No_Shape  64.646573
1  1_no_shape.csv   1  Train_A_No_Shape  64.646553
2  2_no_shape.csv   2  Train_A_No_Shape  64.646542
3  3_no_shape.csv   3  Train_A_No_Shape  64.663145
4  4_no_shape.csv   4  Train_A_No_Shape  64.646543

In [17]:
#read 1-Norms for TrainSetA
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom1/"
inputfile='Norms_TrainA.csv'
plTrainSetA1=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTrainSetA1.head()

             File  Id        Identifier     norms
0  0_no_shape.csv   0  Train_A_No_Shape  0.001230
1  1_no_shape.csv   1  Train_A_No_Shape  0.000249
2  2_no_shape.csv   2  Train_A_No_Shape  0.000744
3  3_no_shape.csv   3  Train_A_No_Shape  0.000000
4  4_no_shape.csv   4  Train_A_No_Shape  0.003214

In [18]:
plTrainSetA0.shape

(2503, 4)

In [20]:
#read 0-Norms for TrainSetA (with SHAPE)
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom0/"
inputfile='Norms_TrainAS.csv'
plTrainSetAShape0=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTrainSetAShape0.head()

               File  Id            Identifier      norms
0  0_with_shape.csv   0  Train_A_With_Shape33  64.646545
1  1_with_shape.csv   1  Train_A_With_Shape33  64.646711
2  2_with_shape.csv   2  Train_A_With_Shape33  64.646542
3  3_with_shape.csv   3  Train_A_With_Shape33  64.651603
4  4_with_shape.csv   4  Train_A_With_Shape33  64.646558

In [22]:
#read 1-Norms for TrainSetA (with SHAPE)
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom1/"
inputfile='Norms_TrainAS.csv'
plTrainSetAShape1=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTrainSetAShape1.head()

               File  Id            Identifier     norms
0  0_with_shape.csv   0  Train_A_With_Shape33  0.001711
1  1_with_shape.csv   1  Train_A_With_Shape33  0.001361
2  2_with_shape.csv   2  Train_A_With_Shape33  0.000151
3  3_with_shape.csv   3  Train_A_With_Shape33  0.003474
4  4_with_shape.csv   4  Train_A_With_Shape33  0.000854

In [23]:
plTrainSetAShape0.shape

(2503, 4)

In [24]:
#index files in dictionary then create dataframe from dict
#to match indexes from Matt's data
#puts all of the features in the training set in one dict
match_train = {}
k=0
for i in range(plTrainSetA0.shape[0]):
    for j in range(df.shape[0]):
        if (plTrainSetA0.iloc[i,1]==df.iloc[j,0]):
            match_train[k] =[df.iloc[j,0],df.iloc[j,1],df.iloc[j,2],df.iloc[j,3],df.iloc[j,4],df1.iloc[j,1],df1.iloc[j,2],plTrainSetA0.iloc[i,3],plTrainSetA1.iloc[i,3],plTrainSetAShape0.iloc[i,3],plTrainSetAShape1.iloc[i,3]]
            k=k+1

In [25]:
#get number of seqs in Training Set
print(k)

2503

In [26]:
#convert to dataframe
X_train=pd.DataFrame.from_dict(match_train, orient='index', columns=['Id','Similarity','Variance','Acc MFE','Acc SHAPE','Similarity SHAPE33','Variance SHAPE33','PL norm0','PL norm1','PL norm0 SHAPE','PL norm1 SHAPE'])

In [27]:
X_train.head()

,Id,Similarity,Variance,Acc MFE,Acc SHAPE,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,0,63.530786,510.139674,25.7,88.4,38.045195,25.589018,64.646573,0.001230,64.646545,0.001711
1,1,89.472191,81.662673,13.4,84.0,45.424910,128.552599,64.646553,0.000249,64.646711,0.001361
2,2,83.509512,14.298034,12.6,90.2,48.843246,28.679412,64.646542,0.000744,64.646542,0.000151
3,3,93.700939,42.010788,79.6,92.4,82.763514,72.320808,64.663145,0.000000,64.651603,0.003474
4,4,76.075650,42.247469,64.6,93.8,89.460440,8.769784,64.646543,0.003214,64.646558,0.000854

In [29]:
X_train.shape

(2503, 11)

In [30]:
#threshold
th=25

In [31]:
##Classify based on accuracy (binary); separate training set into WP and NWP sequences
#train_wp = {} #create empty dict to add WP sequences
#train_nwp = {} #empty dict to add NWP seqs
#k=0 #number of WP seqs
#h=0 #number of NWP seqs
#for i in range(X_train.shape[0]):
    #if (X_train.iloc[i,3])>th: #if accuracy is above a set threshold
        #train_wp[k] = [X_train.iloc[i,0],1] #seq is WP; label is 1; add to dict
        #k=k+1
    #else:
        #train_nwp[h] = [X_train.iloc[i,0],0] #seq is NWP; label is 0; add to dict
        #h=h+1
        
##When classifying directability, comment this block of code out

In [32]:
#For directability
#splits training set into directable (dir) and non-directable (nd) sequences
train_wp = {} #dictionary to store directable (DIR) sequences
train_nwp = {} #dictionary to store non-directable (ND) seqs
k=0 #count number of dir seqs; initialize as 0
h=0 #count number of nd seqs; initialize as 0
for i in range(X_train.shape[0]):
    if (X_train.iloc[i,4]-X_train.iloc[i,3])>th: #if accuracy_with_SHAPE-accuracy> some threshold
        train_wp[k] = [X_train.iloc[i,0],1] #The sequence is labelled as directable (1), ID added to dict
        k=k+1
    else: #if accuracy_with_SHAPE-accuracy<= some threshold
        train_nwp[h] = [X_train.iloc[i,0],0] #The sequence is labelled as non-directable (0), ID added to dict
        h=h+1
        
#When classifying accuracy, comment this block of code out

In [33]:
print(k)

1554

In [34]:
print(h)

949

In [35]:
#convert to dataframe with two columns: ID and Label (label should be 1)
train_wp=pd.DataFrame.from_dict(train_wp, orient='index', columns=['Id','Labels'])

In [36]:
#convert to dataframe with two columns: ID and Label (label should be 0)
train_nwp=pd.DataFrame.from_dict(train_nwp, orient='index', columns=['Id','Labels'])

In [37]:
train_wp.tail()

        Id  Labels
1549  3161       1
1550  3162       1
1551  3163       1
1552  3164       1
1553  3165       1

In [38]:
train_nwp.shape

(949, 2)

In [39]:
#now we balance the training sets to have an equal number of WP and NWP sequences (or an equal number of DIR and ND seqs)
#take the set (either train_WP or train_NWP) with a lower number of h and k

In [40]:
#make the number of WP seqs (or DIR) equal to the number of NWP (ND); use when there are more WP seqs
train_wp1=train_wp.iloc[:min(h,k),:]

In [41]:
#make the number of NWP seqs (or ND) equal to the number of WP (DIR); use when there are more NWP seqs
#train_nwp1=train_nwp.iloc[:min(h,k),:]

In [42]:
#balance training set to have equal WP and NWP seqs; use when more WP seqs initially
frames = [train_wp1, train_nwp]

In [43]:
#frames = [train_wp, train_nwp1] #balance training set to have equal WP and NWP seqs; use when more NWP seqs initially

In [44]:
#convert balanced set to dataframe
train_balanced = pd.concat(frames)

In [45]:
#change IDs to int type
train_balanced['Id']=train_balanced['Id'].astype('Int64')

In [46]:
train_balanced.head

<bound method NDFrame.head of        Id  Labels
0       0       1
1       1       1
2       2       1
3       4       1
4       6       1
..    ...     ...
944  3097       0
945  3137       0
946  3138       0
947  3148       0
948  3149       0

[1898 rows x 2 columns]>

In [47]:
#store the labels for the balanced training set (1 means seq is WP, 0 means seq is NWP) 
#If training directability, 1 means seq is DIR, and 0 means it is ND
y_train=train_balanced.iloc[:,1].values

In [48]:
#balances the original training set containing the features
X_train=X_train.loc[X_train['Id'].isin(train_balanced.iloc[:,0]),:]

In [49]:
X_train.head()

,Id,Similarity,Variance,Acc MFE,Acc SHAPE,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,0,63.530786,510.139674,25.7,88.4,38.045195,25.589018,64.646573,0.001230,64.646545,0.001711
1,1,89.472191,81.662673,13.4,84.0,45.424910,128.552599,64.646553,0.000249,64.646711,0.001361
2,2,83.509512,14.298034,12.6,90.2,48.843246,28.679412,64.646542,0.000744,64.646542,0.000151
3,3,93.700939,42.010788,79.6,92.4,82.763514,72.320808,64.663145,0.000000,64.651603,0.003474
4,4,76.075650,42.247469,64.6,93.8,89.460440,8.769784,64.646543,0.003214,64.646558,0.000854

In [50]:
#make it so the Training set only contains the 8 similarity/var and topological features
X_train=X_train.drop(columns=['Id','Acc MFE','Acc SHAPE'])
X_train.head()

,Similarity,Variance,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,63.530786,510.139674,38.045195,25.589018,64.646573,0.001230,64.646545,0.001711
1,89.472191,81.662673,45.424910,128.552599,64.646553,0.000249,64.646711,0.001361
2,83.509512,14.298034,48.843246,28.679412,64.646542,0.000744,64.646542,0.000151
3,93.700939,42.010788,82.763514,72.320808,64.663145,0.000000,64.651603,0.003474
4,76.075650,42.247469,89.460440,8.769784,64.646543,0.003214,64.646558,0.000854

In [51]:
X_train.shape

(1898, 8)

In [52]:
X_train.isnull().values.any()

False

In [53]:
##Option to remove the 4 similarity/variance features
#X_train=X_train.drop(columns=['PL norm0','PL norm0 SHAPE','PL norm1','PL norm1 SHAPE'])

In [54]:
##Option to remove the 4 topological features
#X_train=X_train.drop(columns=['Similarity','Variance','Similarity SHAPE33','Variance SHAPE33'])

In [55]:
#X_train.head()

In [56]:
#for test set
#to match indexes from Matt's data
#puts all of the features in the training set in one dict
#same process as match train, but for the test sets
match_test = {}
k=0
for i in range(plTestSetA0.shape[0]):
    for j in range(df3.shape[0]):
        if (plTestSetA0.iloc[i,1]==df3.iloc[j,0]):
            #match_test[k] =[df3.iloc[j,0],df3.iloc[j,1],df3.iloc[j,2],df3.iloc[j,3],df3.iloc[j,4],df4.iloc[j,1],df4.iloc[j,2],plTestSetA.iloc[i,3],plTestSetAShape.iloc[i,3]]
            match_test[k] =[df3.iloc[j,0],df3.iloc[j,1],df3.iloc[j,2],df3.iloc[j,3],df3.iloc[j,4],df4.iloc[j,1],df4.iloc[j,2],plTestSetA0.iloc[i,3],plTestSetA1.iloc[i,3],plTestSetAShape0.iloc[i,3],plTestSetAShape1.iloc[i,3]]
            k=k+1

In [57]:
print(k)

426

In [58]:
#convert to dataframe
X_test=pd.DataFrame.from_dict(match_test, orient='index', columns=['Id','Similarity','Variance','Acc MFE','Acc SHAPE','Similarity SHAPE33','Variance SHAPE33','PL norm0','PL norm1','PL norm0 SHAPE','PL norm1 SHAPE'])

In [59]:
X_test.head()

,Id,Similarity,Variance,Acc MFE,Acc SHAPE,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,0,96.423690,58.736204,47.1,100.0,83.909287,62.903218,64.998215,0.000000,64.975018,0.000000
1,1,55.204598,1400.598193,54.7,100.0,98.291925,14.163227,65.194148,0.000000,64.982104,0.000000
2,2,81.206294,228.163154,73.2,97.6,91.866090,181.236396,64.758183,0.000000,64.896292,0.000000
3,3,94.482379,119.418192,90.7,97.6,98.162743,42.056933,64.873570,0.000161,65.111365,0.002203
4,4,38.345264,539.449350,55.1,97.4,96.204819,27.614676,64.819485,0.000000,64.738559,0.000000

In [60]:

X_test.shape

(426, 11)

In [61]:
## test for accuracy (binary)
##split test set into WP and NWP sequences

#test_wp = {} #empty dict to add WP sequences
#test_nwp = {} #empty dict to add NWP sequences
#k=0 #number of WP seqs
#h=0 #number of NWP seqs
#for i in range(X_test.shape[0]):
    #if (X_test.iloc[i,3])>th: #if accuracy is above the threshold:
        #test_wp[k] = [X_test.iloc[i,0], 1] #seq is WP; add to dict; label is 1
        #k=k+1
    #else: #if acc below threshold:
        #test_nwp[h] = [X_test.iloc[i,0], 0] #seq is NWP; add to dict; label is 0
        #h=h+1
#When testing for directability, comment this block of code out

In [62]:
##Directability
##split seq into directble (dir) and non-directable (ND) seqs
test_wp = {} #empty dict to add DIR sequences
test_nwp = {} #empty dict to add ND sequences
k=0 #count the number of DIR seqs; initialize counter as 0
h=0 #count the number of ND seqs; initialize as 0
for i in range(X_test.shape[0]):
    if (X_test.iloc[i,4]-X_test.iloc[i,3])>th: #if acc_after_shape-acc>threshold
        test_wp[k] = [X_test.iloc[i,0], 1] #seq is dir; add to dict; label is 1
        k=k+1
    else: #if acc_after_shape-acc<=threshold
        test_nwp[h] = [X_test.iloc[i,0], 0] #seq is ND; add to dict; label is 0
        h=h+1
#When testing for accuracy, comment this block of code out

In [63]:
print(k)

259

In [64]:
print(h)

167

In [65]:
test_wp=pd.DataFrame.from_dict(test_wp, orient='index', columns=['Id','Labels']) #convert to dataframe

In [66]:
test_nwp=pd.DataFrame.from_dict(test_nwp, orient='index', columns=['Id','Labels']) #convert to dataframe

In [67]:
#make the number of WP seqs (or DIR) equal to the number of NWP (ND); use when there are more WP seqs
test_wp1=test_wp.iloc[:min(h,k),:]

In [68]:
##make the number of NWP seqs (or ND) equal to the number of WP (DIR); use when there are more NWP seqs
##otherwise comment this block out
#test_nwp1=test_nwp.iloc[:min(h,k),:]

In [69]:
#balance test set to have equal WP and NWP seqs; use when more WP seqs in test set
#otherwise, comment this block of code out
test_frames = [test_wp1, test_nwp]

In [70]:
##balance test set; use when there are more NWP seqs
##otherwise, comment this block of code out
#test_frames = [test_wp, test_nwp1]

In [71]:
test_balanced = pd.concat(test_frames) #convert to dataframe

In [72]:
test_balanced['Id']=test_balanced['Id'].astype('Int64') #convert IDs to int

In [73]:
test_balanced.tail

<bound method NDFrame.tail of       Id  Labels
0      0       1
1      1       1
2      4       1
3      6       1
4      8       1
..   ...     ...
162  557       0
163  563       0
164  568       0
165  569       0
166  573       0

[334 rows x 2 columns]>

In [74]:
y_test=test_balanced.iloc[:,1].values #store the labels of the test set

In [75]:
#update original test set (containing features) to be balanced
X_test=X_test.loc[X_test['Id'].isin(test_balanced.iloc[:,0]),:]

In [76]:
X_test.tail()

,Id,Similarity,Variance,Acc MFE,Acc SHAPE,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
392,557,57.179333,460.342321,91.6,93.3,99.760192,1.940893,64.773998,0.000174,65.407453,0.000000
398,563,97.328747,9.559739,94.6,98.5,98.089701,8.290126,64.755418,0.000000,64.935555,0.000000
403,568,96.889491,4.343076,91.0,96.8,97.539876,3.141534,64.648163,0.001078,64.658141,0.003022
404,569,93.965583,41.374295,83.8,84.9,96.042078,6.323308,64.748531,0.001685,64.903748,0.002185
408,573,52.245536,1239.987575,66.8,88.7,91.676610,14.435478,64.660375,0.001870,64.665217,0.001768

In [77]:
#remove everything but the 8 features
X_test=X_test.drop(columns=['Id','Acc MFE','Acc SHAPE'])

In [78]:
X_test.head()

,Similarity,Variance,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,96.423690,58.736204,83.909287,62.903218,64.998215,0.000000,64.975018,0.000000
1,55.204598,1400.598193,98.291925,14.163227,65.194148,0.000000,64.982104,0.000000
2,81.206294,228.163154,91.866090,181.236396,64.758183,0.000000,64.896292,0.000000
3,94.482379,119.418192,98.162743,42.056933,64.873570,0.000161,65.111365,0.002203
4,38.345264,539.449350,96.204819,27.614676,64.819485,0.000000,64.738559,0.000000

In [79]:
X_test.shape

(334, 8)

In [80]:
X_test.isnull().values.any()

False

In [81]:
##option to remove the 4 similarity features
#X_test=X_test.drop(columns=['Similarity','Variance','Similarity SHAPE33','Variance SHAPE33'])

In [82]:
##option to remove the 4 topological data features
#X_test=X_test.drop(columns=['PL norm0','PL norm0 SHAPE','PL norm1','PL norm1 SHAPE'])

In [83]:
#Random forest Classifier
from sklearn.ensemble import RandomForestClassifier

clf1 = RandomForestClassifier(max_depth=10, random_state=0, n_estimators=1000) 
clf1.fit(X_train, y_train) #build a classifier based on the training sets
clf1.score(X_test, y_test) #identify percentage of test set classified correctly

0.5449101796407185

In [84]:
#prints the importance of each feature in building the classifier
feature_importances = clf1.feature_importances_
print(feature_importances)

[0.13310568 0.12692764 0.18561724 0.1473555  0.11381075 0.07133124
 0.12944363 0.09240832]

In [85]:
X_train.shape #number seqs in training

(1898, 8)

In [86]:
X_test.shape #number seqs in test

(334, 8)