In [1]:
import pandas as pd
import numpy as np

In [2]:
#read sim and variance values for TrainSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/"
inputfile='similarity_and_variance_TrainSetB_no_shape.csv'
df=pd.read_csv(inputdirectory+inputfile,names=['Id','Similarity','Variance','Acc MFE','Acc SHAPE'])
df.head()

   Id  Similarity    Variance  Acc MFE  Acc SHAPE
0   0   57.951651  692.158185     23.4       63.0
1   1   37.627688  370.143742      6.6       72.1
2   2   75.272133  300.378489     31.9       68.8
3   3   45.569388  115.620528     14.4       80.0
4   4   87.567179  338.506930     25.2       78.4

In [3]:
df.shape

(1061, 5)

In [4]:
#read values for Sim with SHAPE and Var with SHAPE for TrainSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/"
inputfile='similarity_and_variance_TrainSetB_with_shape33.csv'
df1=pd.read_csv(inputdirectory+inputfile,names=['Id','Similarity SHAPE33','Variance SHAPE33','Acc MFE','Acc SHAPE'])
df1.head()

   Id  Similarity SHAPE33  Variance SHAPE33  Acc MFE  Acc SHAPE
0   0           50.240048         86.747493     23.4       63.0
1   1           47.660746         26.887352      6.6       72.1
2   2           53.763597         67.334734     31.9       68.8
3   3           34.870981         69.634158     14.4       80.0
4   4           52.831890         88.601832     25.2       78.4

In [5]:
df1.isnull().values.any()

False

In [6]:
df1.shape

(1061, 5)

In [7]:
#read sim and variance values for TestSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/"
inputfile='similarity_and_variance_TestSetB_no_shape.csv'
df3=pd.read_csv(inputdirectory+inputfile,names=['Id','Similarity','Variance','Acc MFE','Acc SHAPE'])
df3.head()

   Id  Similarity     Variance  Acc MFE  Acc SHAPE
0   0   85.206834    65.590910     28.7       81.2
1   1   41.586762  1493.297404     20.6       77.3
2   2   42.318602   571.386856     19.9       49.5
3   3   82.917642   177.482578      0.0       74.1
4   4   68.436426   654.509620     18.0       66.8

In [8]:
df3.shape

(428, 5)

In [9]:
#read values for Sim with SHAPE and Var with SHAPE for TestSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/"
inputfile='similarity_and_variance_TestSetB_with_shape33.csv'
df4=pd.read_csv(inputdirectory+inputfile,names=['Id','Similarity SHAPE33','Variance SHAPE33','Acc MFE','Acc SHAPE'])
df4.head()

   Id  Similarity SHAPE33  Variance SHAPE33  Acc MFE  Acc SHAPE
0   0           47.835229        132.388877     28.7       81.2
1   1           62.467397        675.506457     20.6       77.3
2   2           59.465509         10.712319     19.9       49.5
3   3           52.351392         78.650790      0.0       74.1
4   4           44.405405        209.770660     18.0       66.8

In [10]:
df4.shape

(428, 5)

In [11]:
#read 0-Norms for TestSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom0/"
inputfile='Norms_TestB.csv'
plTestSetB0=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTestSetB0.head()

             File  Id       Identifier      norms
0  0_no_shape.csv   0  Test_B_No_Shape  65.637211
1  1_no_shape.csv   1  Test_B_No_Shape  65.021130
2  2_no_shape.csv   2  Test_B_No_Shape  65.254635
3  3_no_shape.csv   3  Test_B_No_Shape  64.854884
4  4_no_shape.csv   4  Test_B_No_Shape  65.122592

In [12]:
#read 1-norms for TestSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom1/"
inputfile='Norms_TestB.csv'
plTestSetB1=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTestSetB1.head()

             File  Id       Identifier     norms
0  0_no_shape.csv   0  Test_B_No_Shape  0.140160
1  1_no_shape.csv   1  Test_B_No_Shape  0.145259
2  2_no_shape.csv   2  Test_B_No_Shape  0.145699
3  3_no_shape.csv   3  Test_B_No_Shape  0.280974
4  4_no_shape.csv   4  Test_B_No_Shape  0.335401

In [13]:
plTestSetB0.shape

(424, 4)

In [14]:
#read 0-norms (with SHAPE) for TestSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom0/"
inputfile='Norms_TestBS.csv'
plTestSetBShape0=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTestSetBShape0.head()

               File  Id         Identifier      norms
0  0_with_shape.csv   0  Test_B_With_Shape  64.646707
1  1_with_shape.csv   1  Test_B_With_Shape  64.714740
2  2_with_shape.csv   2  Test_B_With_Shape  64.654629
3  3_with_shape.csv   3  Test_B_With_Shape  64.648546
4  4_with_shape.csv   4  Test_B_With_Shape  64.647578

In [15]:
#Read 1-norms (with SHAPE) for TestSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom1/"
inputfile='Norms_TestBS.csv'
plTestSetBShape1=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTestSetBShape1.head()

               File  Id         Identifier     norms
0  0_with_shape.csv   0  Test_B_With_Shape  0.003335
1  1_with_shape.csv   1  Test_B_With_Shape  0.000376
2  2_with_shape.csv   2  Test_B_With_Shape  0.000039
3  3_with_shape.csv   3  Test_B_With_Shape  0.024962
4  4_with_shape.csv   4  Test_B_With_Shape  0.000778

In [16]:
plTestSetBShape1.shape

(424, 4)

In [17]:
#read 0-Norms for TrainSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom0/"
inputfile='Norms_TrainB.csv'
plTrainSetB0=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTrainSetB0.head()

             File  Id        Identifier      norms
0  0_no_shape.csv   0  Train_B_No_Shape  64.669061
1  1_no_shape.csv   1  Train_B_No_Shape  64.649767
2  2_no_shape.csv   2  Train_B_No_Shape  64.662980
3  3_no_shape.csv   3  Train_B_No_Shape  64.646815
4  4_no_shape.csv   4  Train_B_No_Shape  64.649489

In [18]:
#read 1-Norms for TrainSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom1/"
inputfile='Norms_TrainB.csv'
plTrainSetB1=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTrainSetB1.head()

             File  Id        Identifier     norms
0  0_no_shape.csv   0  Train_B_No_Shape  0.005278
1  1_no_shape.csv   1  Train_B_No_Shape  0.000223
2  2_no_shape.csv   2  Train_B_No_Shape  0.000871
3  3_no_shape.csv   3  Train_B_No_Shape  0.005095
4  4_no_shape.csv   4  Train_B_No_Shape  0.001268

In [19]:
plTrainSetB0.shape

(1030, 4)

In [20]:
#read 0-Norms (with SHAPE) for TrainSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom0/"
inputfile='Norms_TrainBS.csv'
plTrainSetBShape0=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTrainSetBShape0.head()

               File  Id            Identifier      norms
0  0_with_shape.csv   0  Train_B_With_Shape33  64.651964
1  1_with_shape.csv   1  Train_B_With_Shape33  64.656615
2  2_with_shape.csv   2  Train_B_With_Shape33  64.649820
3  3_with_shape.csv   3  Train_B_With_Shape33  64.648000
4  4_with_shape.csv   4  Train_B_With_Shape33  64.647274

In [21]:
#read 1-Norms (with SHAPE) for TrainSetB
inputdirectory=r"C:/Users/Logan Rose/Downloads/RNA-project-main/RNA-project-main/hom1/"
inputfile='Norms_TrainBS.csv'
plTrainSetBShape1=pd.read_csv(inputdirectory+inputfile,names=['File','Id','Identifier','norms'], header=None, skiprows=1)
plTrainSetBShape1.head()

               File  Id            Identifier     norms
0  0_with_shape.csv   0  Train_B_With_Shape33  0.000000
1  1_with_shape.csv   1  Train_B_With_Shape33  0.001162
2  2_with_shape.csv   2  Train_B_With_Shape33  0.000325
3  3_with_shape.csv   3  Train_B_With_Shape33  0.002846
4  4_with_shape.csv   4  Train_B_With_Shape33  0.003622

In [22]:
plTrainSetBShape0.shape

(1030, 4)

In [23]:
#index files in dictionary then create dataframe from dict
#to match indexes from Matt's data
#puts all of the features in the training set in one dict
match_train = {}
k=0
for i in range(plTrainSetB0.shape[0]):#loops through seqs with norms
    for j in range(df.shape[0]): #loops thru sequences with similarites
        if (plTrainSetB0.iloc[i,1]==df.iloc[j,0]): #matches norms and similarities
            match_train[k] =[df.iloc[j,0],df.iloc[j,1],df.iloc[j,2],df.iloc[j,3],df.iloc[j,4],df1.iloc[j,1],df1.iloc[j,2],plTrainSetB0.iloc[i,3],plTrainSetB1.iloc[i,3],plTrainSetBShape0.iloc[i,3],plTrainSetBShape1.iloc[i,3]]
            k=k+1

In [25]:
print(k)

1030

In [26]:
#convert to dataframe
X_train=pd.DataFrame.from_dict(match_train, orient='index', columns=['Id','Similarity','Variance','Acc MFE','Acc SHAPE','Similarity SHAPE33','Variance SHAPE33','PL norm0','PL norm1','PL norm0 SHAPE','PL norm1 SHAPE'])

In [27]:
X_train.head()

,Id,Similarity,Variance,Acc MFE,Acc SHAPE,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,0,57.951651,692.158185,23.4,63.0,50.240048,86.747493,64.669061,0.005278,64.651964,0.000000
1,1,37.627688,370.143742,6.6,72.1,47.660746,26.887352,64.649767,0.000223,64.656615,0.001162
2,2,75.272133,300.378489,31.9,68.8,53.763597,67.334734,64.662980,0.000871,64.649820,0.000325
3,3,45.569388,115.620528,14.4,80.0,34.870981,69.634158,64.646815,0.005095,64.648000,0.002846
4,4,87.567179,338.506930,25.2,78.4,52.831890,88.601832,64.649489,0.001268,64.647274,0.003622

In [28]:
X_train.shape

(1030, 11)

In [29]:
#directability threshold
th=30

In [30]:
#Classify based on accuracy (binary); separate training set into WP and NWP sequences
#train_wp = {} #create empty dict to add WP sequences
#train_nwp = {} create empty dict to add NWP sequences
#k=0 #number of WP seqs
#h=0 #number of NWP seqs
#for i in range(X_train.shape[0]):
    #if (X_train.iloc[i,3])>th: #if accuracy is above a set threshold
        #train_wp[k] = [X_train.iloc[i,0],1] #seq is WP; label is 1; add to dict
        #k=k+1
    #else:
        #train_nwp[h] = [X_train.iloc[i,0],0] #seq is NWP; label is 0; add to dict
        #h=h+1
#When classifying directability, comment this block of code out

In [31]:
#For directability
#splits training set into directable (dir) and non-directable (nd) sequences
train_wp = {} #dictionary to store directable (DIR) sequences
train_nwp = {} #dictionary to store non-directable (ND) sequences
k=0 #count number of dir seqs; initialize as 0
h=0 #count the number of nd seqs; initialize as 0
for i in range(X_train.shape[0]):
    if (X_train.iloc[i,4]-X_train.iloc[i,3])>th: #if accuracy_with_SHAPE-accuracy> some threshold
        train_wp[k] = [X_train.iloc[i,0],1] #seq is directable; label is 1; add to dict
        k=k+1 #add to count
    else:
        train_nwp[h] = [X_train.iloc[i,0],0] #seq is ND; label is 0; add to dict
        h=h+1
#When classifying accuracy, comment this block of code out

In [32]:
print(k)

326

In [33]:
print(h)

704

In [34]:
#When classifying accuracy, comment this block of code out
train_wp=pd.DataFrame.from_dict(train_wp, orient='index', columns=['Id','Labels'])

In [35]:
#convert to dataframe with two columns: ID and Label (label should be 0)
train_nwp=pd.DataFrame.from_dict(train_nwp, orient='index', columns=['Id','Labels'])

In [36]:
train_wp.shape

(326, 2)

In [37]:
train_nwp.shape

(704, 2)

In [38]:
#now we balance the training sets to have an equal number of WP and NWP sequences (or an equal number of DIR and ND seqs)
#take the set (either train_WP or train_NWP) with a lower number of h and k

In [39]:
##make the number of WP seqs (or DIR) equal to the number of NWP (ND); use when there are more WP seqs
##comment this block out otherwise
#train_wp1=train_wp.iloc[:min(k,h),:]

In [40]:
#make the number of NWP seqs (or ND) equal to the number of WP (DIR); use when there are more NWP seqs
#comment out otherwise
train_nwp1=train_nwp.iloc[:min(k,h),:]

In [41]:
##balance training set to have equal WP and NWP seqs; use when more WP seqs initially
##comment out otherwise
#train_frames= [train_wp1,train_nwp]

In [42]:
#balance training set to have equal WP and NWP seqs; use when more NWP seqs initially
#comment this block out otherwise
train_frames = [train_wp, train_nwp1]

In [43]:
train_balanced = pd.concat(train_frames) #convert to dataframe

In [44]:
train_balanced['Id']=train_balanced['Id'].astype('Int64') #convert IDs to int type

In [45]:
train_balanced.head

<bound method NDFrame.head of       Id  Labels
0      0       1
1      1       1
2      2       1
3      3       1
4      4       1
..   ...     ...
321  574       0
322  575       0
323  576       0
324  577       0
325  578       0

[652 rows x 2 columns]>

In [46]:
y_train=train_balanced.iloc[:,1].values #store the labels of the training set

In [47]:
X_train=X_train.loc[X_train['Id'].isin(train_balanced.iloc[:,0]),:]#balanced set

In [48]:
X_train.head()

,Id,Similarity,Variance,Acc MFE,Acc SHAPE,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,0,57.951651,692.158185,23.4,63.0,50.240048,86.747493,64.669061,0.005278,64.651964,0.000000
1,1,37.627688,370.143742,6.6,72.1,47.660746,26.887352,64.649767,0.000223,64.656615,0.001162
2,2,75.272133,300.378489,31.9,68.8,53.763597,67.334734,64.662980,0.000871,64.649820,0.000325
3,3,45.569388,115.620528,14.4,80.0,34.870981,69.634158,64.646815,0.005095,64.648000,0.002846
4,4,87.567179,338.506930,25.2,78.4,52.831890,88.601832,64.649489,0.001268,64.647274,0.003622

In [49]:
#make it so the Training set only contains the 8 similarity/var and topological features
X_train=X_train.drop(columns=['Id','Acc MFE','Acc SHAPE'])
X_train.head()

,Similarity,Variance,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,57.951651,692.158185,50.240048,86.747493,64.669061,0.005278,64.651964,0.000000
1,37.627688,370.143742,47.660746,26.887352,64.649767,0.000223,64.656615,0.001162
2,75.272133,300.378489,53.763597,67.334734,64.662980,0.000871,64.649820,0.000325
3,45.569388,115.620528,34.870981,69.634158,64.646815,0.005095,64.648000,0.002846
4,87.567179,338.506930,52.831890,88.601832,64.649489,0.001268,64.647274,0.003622

In [50]:
X_train.shape

(652, 8)

In [51]:
X_train.isnull().values.any()

False

In [52]:
##Option to remove the 4 similarity/variance features
#X_train=X_train.drop(columns=['PL norm0','PL norm0 SHAPE','PL norm1','PL norm1 SHAPE'])

In [53]:
##Option to remove the 4 topological features
#X_train=X_train.drop(columns=['Similarity','Variance','Similarity SHAPE33','Variance SHAPE33'])

In [54]:
X_train.head()

,Similarity,Variance,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,57.951651,692.158185,50.240048,86.747493,64.669061,0.005278,64.651964,0.000000
1,37.627688,370.143742,47.660746,26.887352,64.649767,0.000223,64.656615,0.001162
2,75.272133,300.378489,53.763597,67.334734,64.662980,0.000871,64.649820,0.000325
3,45.569388,115.620528,34.870981,69.634158,64.646815,0.005095,64.648000,0.002846
4,87.567179,338.506930,52.831890,88.601832,64.649489,0.001268,64.647274,0.003622

In [55]:
#for test set
#to match indexes from Matt's data
#puts all of the features in the training set in one dict
#same process as match train, but for the test sets
match_test = {}
k=0
for i in range(plTestSetB0.shape[0]):
    for j in range(df3.shape[0]):
        if (plTestSetB0.iloc[i,1]==df3.iloc[j,0]):
            #match_test[k] =[df3.iloc[j,0],df3.iloc[j,1],df3.iloc[j,2],df3.iloc[j,3],df3.iloc[j,4],df3.iloc[j,5],df4.iloc[j,2],df4.iloc[j,3],plTestSetA.iloc[i,4],plTestSetAShape.iloc[i,4]]
            match_test[k] =[df3.iloc[j,0],df3.iloc[j,1],df3.iloc[j,2],df3.iloc[j,3],df3.iloc[j,4],df4.iloc[j,1],df4.iloc[j,2],plTestSetB0.iloc[i,3],plTestSetB1.iloc[i,3],plTestSetBShape0.iloc[i,3],plTestSetBShape1.iloc[i,3]]
            k=k+1

In [56]:
print(k)

424

In [57]:
#convert to dataframe
X_test=pd.DataFrame.from_dict(match_test, orient='index', columns=['Id','Similarity','Variance','Acc MFE','Acc SHAPE','Similarity SHAPE33','Variance SHAPE33','PL norm0','PL norm1','PL norm0 SHAPE','PL norm1 SHAPE'])

In [58]:
X_test.tail()

,Id,Similarity,Variance,Acc MFE,Acc SHAPE,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
419,425,89.500969,81.271478,57.3,95.0,93.943472,13.789537,65.159721,0.697200,64.737028,0.000000
420,426,70.748538,394.514415,35.0,81.8,90.580964,44.559121,64.932667,0.474893,64.658787,0.000193
421,427,55.854213,630.282729,62.9,97.7,96.373200,82.130563,65.153114,0.108781,65.151873,0.001767
422,428,98.921090,9.917563,62.3,95.5,83.079421,304.662217,65.762078,1.232238,64.906062,0.000000
423,429,95.447635,23.827262,74.5,97.6,98.318606,9.830611,65.643822,1.641188,64.926436,0.000000

In [59]:
X_test.shape

(424, 11)

In [60]:
## test for accuracy (binary)
##split test set into WP and NWP sequences
#test_wp = {} #empty dict to add WP sequences
#test_nwp = {} #empty dict to add WP sequences
#k=0 #count number of WP seqs; initialize as 0
#h=0 #number of NWP seqs; initialize as 0
#for i in range(X_test.shape[0]):
    #if (X_test.iloc[i,3])>th: #if acc is above the threshold:
        #test_wp[k] = [X_test.iloc[i,0], 1] #seq is WP; add to dict; label is 1
        #k=k+1
    #else:
        #test_nwp[h] = [X_test.iloc[i,0], 0] #seq is NWP; add to dict; label is 0
        #h=h+1
##Comment this block of code out when testing for directability

In [61]:
#Directability
#split seq into directble (dir) and non-directable (ND) seqs
test_wp = {} #empty dict to add DIR sequences
test_nwp = {} #empty dict to add ND sequences
k=0 #count the number of DIR seqs; initialize counter as 0
h=0 #count the number of ND seqs; initialize counter as 0
for i in range(X_test.shape[0]):
    if (X_test.iloc[i,4]-X_test.iloc[i,3])>th:#if acc_after_shape-acc>threshold
        test_wp[k] = [X_test.iloc[i,0], 1] #seq is dir; add to dict; label is 1
        k=k+1 #increment count
    else: #if acc_after_shape-acc<=threshold
        test_nwp[h] = [X_test.iloc[i,0], 0] #seq is ND; add to dict; label is 0
        h=h+1
#Comment this block of code out when testing for accuracy

In [62]:
print(k)

208

In [63]:
print(h)

216

In [64]:
test_wp=pd.DataFrame.from_dict(test_wp, orient='index', columns=['Id','Labels']) #convert dict to df

In [65]:
test_nwp=pd.DataFrame.from_dict(test_nwp, orient='index', columns=['Id','Labels'])

In [66]:
test_wp.shape

(208, 2)

In [67]:
test_nwp.shape

(216, 2)

In [68]:
##make the number of WP seqs (or DIR) equal to the number of NWP (ND); use when there are more WP seqs
##otherwise comment out
#test_wp1=test_wp.iloc[:min(h,k),:]

In [69]:
#make the number of NWP seqs (or ND) equal to the number of WP (DIR); use when there are more NWP seqs
#otherwise comment this block out
test_nwp1=test_nwp.iloc[:min(h,k),:]

In [70]:
##balance test set to have equal WP and NWP seqs; use when more WP seqs in test set
##otherwise, comment this block of code out
#test_frames = [test_wp1, test_nwp]

In [71]:
##balance test set; use when there are more NWP seqs
##otherwise, comment this block of code out
test_frames = [test_wp, test_nwp1]

In [72]:
test_balanced = pd.concat(test_frames) #convert to df

In [73]:
test_balanced['Id']=test_balanced['Id'].astype('Int64') #convert IDs to int type

In [74]:
test_balanced.head

<bound method NDFrame.head of       Id  Labels
0      0       1
1      1       1
2      3       1
3      4       1
4      5       1
..   ...     ...
203  406       0
204  407       0
205  408       0
206  409       0
207  411       0

[416 rows x 2 columns]>

In [75]:
y_test=test_balanced.iloc[:,1].values #store the labels of the test set (1 WP (or DIR) and 0 NWP (or ND)

In [76]:
#update original test set (with features) to be balanced
X_test=X_test.loc[X_test['Id'].isin(test_balanced.iloc[:,0]),:]

In [77]:
X_test.head()

,Id,Similarity,Variance,Acc MFE,Acc SHAPE,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,0,85.206834,65.590910,28.7,81.2,47.835229,132.388877,65.637211,0.140160,64.646707,0.003335
1,1,41.586762,1493.297404,20.6,77.3,62.467397,675.506457,65.021130,0.145259,64.714740,0.000376
2,2,42.318602,571.386856,19.9,49.5,59.465509,10.712319,65.254635,0.145699,64.654629,0.000039
3,3,82.917642,177.482578,0.0,74.1,52.351392,78.650790,64.854884,0.280974,64.648546,0.024962
4,4,68.436426,654.509620,18.0,66.8,44.405405,209.770660,65.122592,0.335401,64.647578,0.000778

In [78]:
#remove everything but the 8 features
X_test=X_test.drop(columns=['Id','Acc MFE','Acc SHAPE'])

In [79]:
X_test.head()

,Similarity,Variance,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,85.206834,65.590910,47.835229,132.388877,65.637211,0.140160,64.646707,0.003335
1,41.586762,1493.297404,62.467397,675.506457,65.021130,0.145259,64.714740,0.000376
2,42.318602,571.386856,59.465509,10.712319,65.254635,0.145699,64.654629,0.000039
3,82.917642,177.482578,52.351392,78.650790,64.854884,0.280974,64.648546,0.024962
4,68.436426,654.509620,44.405405,209.770660,65.122592,0.335401,64.647578,0.000778

In [80]:
X_test.shape

(416, 8)

In [81]:
X_test.isnull().values.any()

False

In [82]:
##option to remove the 4 similarity features
#X_test=X_test.drop(columns=['PL norm0','PL norm0 SHAPE','PL norm1','PL norm1 SHAPE'])

In [83]:
##option to remove the 4 topological data features
#X_test=X_test.drop(columns=['Similarity','Variance','Similarity SHAPE33','Variance SHAPE33'])

In [84]:
X_test.head()

,Similarity,Variance,Similarity SHAPE33,Variance SHAPE33,PL norm0,PL norm1,PL norm0 SHAPE,PL norm1 SHAPE
0,85.206834,65.590910,47.835229,132.388877,65.637211,0.140160,64.646707,0.003335
1,41.586762,1493.297404,62.467397,675.506457,65.021130,0.145259,64.714740,0.000376
2,42.318602,571.386856,59.465509,10.712319,65.254635,0.145699,64.654629,0.000039
3,82.917642,177.482578,52.351392,78.650790,64.854884,0.280974,64.648546,0.024962
4,68.436426,654.509620,44.405405,209.770660,65.122592,0.335401,64.647578,0.000778

In [85]:
#X_test.head()

In [86]:
#testing on balanced test set
from sklearn.ensemble import RandomForestClassifier

clf1 = RandomForestClassifier(max_depth=10, random_state=0, n_estimators=1000)
clf1.fit(X_train, y_train)
clf1.score(X_test, y_test)

0.6634615384615384

In [87]:
#gives us the feature importances
feature_importances = clf1.feature_importances_
print(feature_importances)

[0.0858712  0.08776225 0.22491817 0.09697334 0.13449561 0.06061717
 0.23245787 0.07690439]

In [88]:
#size of training set
X_train.shape

(652, 8)

In [89]:
#size of test set
X_test.shape

(416, 8)